* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #2f363e;
}

#relogio {
    display: flex;
    gap: 40px;
    color: white;
}

#relogio .circulo {
   position: relative;
   width: 150px;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#relogio div {
    position:absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#relogio .ap{
    position: relative;
    font: 1em;
    transform: translate(-20px);
}